SELECT 
	GOODS.FULLNAME,
	SUM(SALE.CNT)
FROM
	GOODS,
    SALE,
    SALE_N
WHERE
	(SALE.NAKL_ID = SALE_N.ID) AND
    (SALE_N.S_DATE >= '01.01.2014 00:00:00:00') AND
	(GOODS.ID = SALE.GOOD_ID) AND 
    (GOODS.TYPE_ID <> 15) AND
    (GOODS.TYPE_ID <> 4)
GROUP BY 1
ORDER BY 2 DESC
ROWS 100