SELECT 
	SALE.GOOD_ID,
    (SELECT FULLNAME FROM GOODS WHERE (GOODS.ID = SALE.GOOD_ID)) AS FNAME,
    SUM(SALE.CNT) AS SM    
FROM
	SALE, SALE_N
WHERE
	(SALE.NAKL_ID = SALE_N.ID) AND
	(S_DATE >='14.01.2015 00:00:00')
GROUP BY
	SALE.GOOD_ID,
    FNAME
ORDER BY
	FNAME