CREATE PROCEDURE APPLY_SALE(
  NAKL_ID INTEGER,
  WAY INTEGER)
RETURNS(
  RESULT INTEGER)
AS
DECLARE VARIABLE GOOD_ID INTEGER;
DECLARE VARIABLE CNT INTEGER;
DECLARE VARIABLE DEPOT_ID INTEGER;
BEGIN
	IF (WAY > 0) THEN WAY = 1; ELSE WAY = -1;      
	FOR
    	SELECT GOOD_ID, CNT, DEPOT_ID
        FROM SALE
        WHERE NAKL_ID = :NAKL_ID
        INTO :GOOD_ID, :CNT, :DEPOT_ID
    DO
    	BEGIN
        	IF (DEPOT_ID = 0) THEN BEGIN UPDATE GOODS SET C0 = C0 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 1) THEN BEGIN UPDATE GOODS SET C1 = C1 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 2) THEN BEGIN UPDATE GOODS SET C2 = C2 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 3) THEN BEGIN UPDATE GOODS SET C3 = C3 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 4) THEN BEGIN UPDATE GOODS SET C4 = C4 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 5) THEN BEGIN UPDATE GOODS SET C5 = C5 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 6) THEN BEGIN UPDATE GOODS SET C6 = C6 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 7) THEN BEGIN UPDATE GOODS SET C7 = C7 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 8) THEN BEGIN UPDATE GOODS SET C8 = C8 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 9) THEN BEGIN UPDATE GOODS SET C9 = C9 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 10) THEN BEGIN UPDATE GOODS SET C10 = C10 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 11) THEN BEGIN UPDATE GOODS SET C11 = C11 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 12) THEN BEGIN UPDATE GOODS SET C12 = C12 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 13) THEN BEGIN UPDATE GOODS SET C13 = C13 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 14) THEN BEGIN UPDATE GOODS SET C14 = C14 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 15) THEN BEGIN UPDATE GOODS SET C15 = C15 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 16) THEN BEGIN UPDATE GOODS SET C16 = C16 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 17) THEN BEGIN UPDATE GOODS SET C17 = C17 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 18) THEN BEGIN UPDATE GOODS SET C18 = C18 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 19) THEN BEGIN UPDATE GOODS SET C19 = C19 + :CNT * :WAY WHERE ID = :GOOD_ID; END ELSE
        	IF (DEPOT_ID = 20) THEN BEGIN UPDATE GOODS SET C20 = C20 + :CNT * :WAY WHERE ID = :GOOD_ID; END
        END
    IF (WAY = -1) THEN UPDATE SALE_N SET ENTERED = 1 WHERE ID = :NAKL_ID;
    			  ELSE UPDATE SALE_N SET ENTERED = 0 WHERE ID = :NAKL_ID;
    RESULT = 0;
    SUSPEND;    			
END;